<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UC Merced Parking Tracker</title>
</head>

<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h1>UC Merced Parking Tracker</h1>
    <p>Welcome, {{ username }}!</p>
    <button onclick="window.location.href='{{ url_for('map_page', username=username) }}'">View Map/Parking Location</button>
    <button onclick="window.location.href='{{ url_for('view_vehicles', username=username) }}'">View/Register Vehicles</button>
    <button onclick="window.location.href='{{ url_for('view_permit', username=username) }}'">View/Apply for Permit</button>
</body>
</html>